body{
    background-color: #141414;
    color: #fff;
    height: 100%;


}

.navbar{
    background-color: #141414;
    padding: 0;
}

.navbar-brand{
    padding: 0;
    width: 100px;
}

#logo{
    width: 100%;
    object-position: -10px ;
}


.navbar .nav-item{
    font-size: 0.7em;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link{
    color: #d1d1d1;
}
.nav-link:focus, .nav-link:hover, .nav-link.active{
    font-weight: bold;
    color: #fff;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler{
    padding: 0;
}
nav svg{
    width: 30px;
    height: 30px;
    fill: #d1d1d1;
}

.bi{
    font-size: 0.8em;
    color: #fff;
}

.btn{
    padding: 0;
}

.dropdown-menu{
    padding: 20px;
    background-color: #191919;
    box-shadow: 0 2px 2px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active, .dropdown button{
    border: none;
}


.form-control{
    width: 150px ;
}
.form-control, .btnSearch{
    height: 30px;
    border: none;
}
.btnSearch{
    border-radius: 10px;
    background-color: red;
}
.kids{
    font-size: 0.8em;
    text-decoration: none;
    color: #fff;
}
.dropdown-item{
    color: #fff;
}

.dropdown-toggle{
    color: #fff;
}
.dropdown-toggle img{
    width: 25px;
}


section.menuFilm{
    margin-bottom: 30px;
}
.menuFilm button.dropdown-toggle{
    padding: 5px 15px;

}
.menuFilm button{
    background-color: transparent;
    border: 0.5px solid #ffffffa2;
    padding: 0px 15px;

}
.menuFilm button.genres{
    font-size: 0.8em;
    padding: 2px 10px;
}

.menuFil .bi{
    font-size: 0.6em ;
}




.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

section:nth-of-type(2),section:nth-of-type(3 ),section:nth-of-type(4){
    opacity: 0;
}



.scroll{
    animation: scroll 1s ease-in forwards;
}
.removeScroll{
    animation:  scroll 1s ease-out ;
    animation-direction: reverse;
}

@keyframes scroll {
    from{opacity: 0;}
    to{ opacity: 1;}
}


section img:hover{
    transform: scale(1.2);
    box-shadow: #fafafa61 0 0px 1px;

}


section img{
    transition: transform 1s, box-shadpow 1s;
}

.carousel-inner{
    padding: 20px 0 ;

}

.carousel-control-prev,
.carousel-control-next{
    width: 25px; 
}
.carousel-control-next{
    background-color: #141414;
}

.carousel-control-prev{
    left: -25px;
}

@media screen and (max-width:560px){
    footer{
        margin-top: 0px;
    }
    footer div.row{
        padding: 0 5%;
    }
    section.menuFilm ~ section{
        margin-bottom: 30px
    }
}
@media screen and (max-width:1024px){
    footer{
        margin-top: 50px;
    }
    footer div.row{
        padding: 0 50px;
    }
    section.menuFilm ~ section{
        margin-bottom: 50px
    }

}

@media screen and (min-width:1440px){

    footer{
        margin-top: 150px;
    }
    footer div.row{
        padding: 0 150px;
    }
    section.menuFilm ~ section{
        margin-bottom: 100px
    }
}




footer{
    background-color: #14141494;
}
footer .row div:first-child{
    margin-bottom: 5px;

}
footer .bi{
    font-size: 1.2em;
}


footer .bi, a, p{
    color:#818181 ;
}

footer a ,li{
    text-decoration: none;
    list-style: none;
    font-size: 0.8em;
    line-height: 1.8em;
}

footer ul{
    margin: 0;
    padding: 0 10px 15px 0;
}

footer .row div:last-of-type a{
    border: solid 0.5px #818181;
    padding: 3px 5px;
    font-size: 0.7em;

}

footer p{
    font-size: 0.7em;
    margin-top: 15px;
    margin-bottom: 5px;
}
